1º DAW/LND/LND (VSC)/examenDTDXSD/biblioteca.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT BIBLIOTECA (LIBRO+)>
    <!ELEMENT LIBRO (TITULO,AUTOR*,ANYO,EDITORIAL*)>
    <!ATTLIST LIBRO COD ID #REQUIRED>

        <!ELEMENT TITULO (#PCDATA)>
        <!ELEMENT AUTOR (#PCDATA)>
        <!ELEMENT ANYO (#PCDATA)>
        <!ELEMENT EDITORIAL (#PCDATA)>
